body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.stateTxt, .movesTxt, .diesquare {
  text-align : center
}
.unusedsquare, .psquare, .gsquare, .psquareh, .gsquareh, .homeGoal, .homeGoalh {
  width : 40px;
  height: 40px;
  box-sizing: border-box;
}
.psquare, .psquareh {
  border-radius: 50%;
}
.psquareh, .gsquareh, .homeGoalh {
  border-color : red;
}
.unusedsquare {
  opacity: 0;
}
.gsquare {
  color: #ffffff;
  backgroundColor: #ffffff;
}
.diesquare {
  backgroundColor: #ffffff;
  height: auto;
  vertical-align: center;
  font-size : 40px;
  padding: 0px 0px;
  text-align: center;
  box-shadow: 2px 2px 15px -5px hsla(0, 0%, 0%, 1);
  border-radius: 10%;
}
.game-board {
  border: solid black 5px;
  border-radius: 3%;
  backgroundColor: #ffffe0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
